.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/*************************************/
.mainTop {
  background-image: url(https://occ-0-778-300.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABRMbPWSHyU3KEW1FgPNUJRb7iMqgEOuABSiW9lWBK6JB0Nv0mwFwzcXicUfy0w5899x32XHBIoshgSoRgj7bk6ShyoSWPuR9E5G-.jpg?r=34a);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
}
/* synopsis */
.synopsis {
  width: 350px;
  text-align: left;
}

/* smoll */
.carousel {
  display: flex;
  gap: 15px;
  padding-top: 30px;
  padding-left: 25px;
  background-color: rgb(33, 31, 31);
}
.smallPosters {
  height: 200px;
  width: auto;
}



/*************************************/





@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
